/* -------------------------contacto html------------------------ */
.gridcontacto {
    @include flex;
    justify-content: space-around;
    width: 100%;
    
    .section-contacto-left {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 3%;
      justify-content: center;
    }

    .section-contacto-right {
      @include flex;
      position: relative;
      width: 100%;
      padding: 3%;
      
      img {
        display: flex;
        position: relative;
        border-radius: 30px;
        width: 90%;
        height: 22rem;
      }
    }
  }
  
  
  
  /* ---------------------------fin de contacto html---------------------------- */