// ----------media queries------ //
// 
// 
// 
//  -----------------index-------------//
  @media (max-width: 963px) {
    body .sectiongridmain .bienvenida-titulo h1 {
      font-size: 58px;
    }

    body .sectiongridmain .bienvenida-descripcion h2 {
      font-size: 21px;
    }
    body .sectiongridmain .subtitulo-novedades h2{
      font-size: 54px;
      &:hover {
        font-size: 54px;
      }
    }
    body .sectiongridmain .descripcion-novedades h3 {
      font-size: 25px;
    }
    body .sectiongridmain .descripcion-novedades a {
    font-size: 17px;
    }
  }
//
// 
//  
@media (max-width: 775px) {
  body .sectiongridmain .bienvenida-titulo h1 {
    font-size: 48px;
  }
  body .sectiongridmain .bienvenida-descripcion h2 {
    font-size: 19px;
  }
  body .sectiongridmain .subtitulo-novedades h2{
    font-size: 70px;
  }
  body .sectiongridmain .descripcion-novedades h3 {
    font-size: 24px;
  }
  body .sectiongridmain .descripcion-novedades a {
    font-size: 14px;
    &:hover {
      font-size: 14px;
    }
  }
}
// 
// 
// 
@media (max-width: 691px) {
  body .sectiongridmain .bienvenida-titulo h1 {
    font-size: 42px;
  }
  body .sectiongridmain .bienvenida-descripcion h2 {
    font-size: 17px;
  }
  body .sectiongridmain .subtitulo-novedades h2{
    font-size: 55px;
    &:hover {
      font-size: 40px;
    }
  }
  body .sectiongridmain .descripcion-novedades h3 {
    font-size: 23px;
  }
  body .sectiongridmain .descripcion-novedades a {
    font-size: 13px;
    padding: 4%;
    &:hover {
      font-size: 13px;
      padding: 4%;
    }
  }
}
// 
// 
// 
@media (max-width: 606px) {
  body .sectiongridmain .bienvenida-titulo h1 {
    font-size: 40px;
  } 
  body .sectiongridmain .bienvenida-descripcion {
    padding: 30px;
    width: 335px;
  }
  body .sectiongridmain .bienvenida-descripcion h2 {
    font-size: 18px;
  }
  .bienvenida-pic {
    grid-area: area3;
    display: flex;
    z-index: -1;
    width: 800px;
    height: 100%;
    object-fit: cover;
    img {
      position: relative;
      width: 500px;
      height: 100%;
      object-fit: none;
      overflow: hidden;
    }
  }
  body .sectiongridmain .subtitulo-novedades h2{
    font-size: 40px;
  }
  body .sectiongridmain .descripcion-novedades h3 {
    font-size: 21px;
  }
  body .sectiongridmain .descripcion-novedades a {
    font-size: 11px;
    padding: 4%;
    &:hover {
      font-size: 11px;
      padding: 4%;
    }
  }
}
// 
// 
//
@media (max-width: 500px) {
  body .sectiongridmain .bienvenida-titulo h1 {
    font-size: 35px;
  } 
  body .sectiongridmain .bienvenida-descripcion {
    padding: 20px;
    width: 268px;
    height: 100%;
  }
  body .sectiongridmain .bienvenida-descripcion h2 {
    font-size: 18px;
  }
  body .sectiongridmain .descripcion-novedades h3 {
    font-size: 18px;
    padding: 5%;
  }
  body .sectiongridmain .descripcion-novedades a {
    font-size: 9px;
    padding: 4%;
    &:hover {
      font-size: 9px;
      padding: 4%;
    }
  }
}
// 
// 
//  
@media (max-width: 422px) {
  body .sectiongridmain .bienvenida-titulo {
    padding: 20px;
    align-items: center;
  }
  body .sectiongridmain .bienvenida-titulo h1 {
    font-size: 25px;
    height: 100%;
  }
  body .sectiongridmain .bienvenida-descripcion {
    width: 222px;
  }

  body .sectiongridmain .bienvenida-descripcion h2 {
    font-size: 14px;
    padding: 20px;
  }
  .bienvenida-pic img {
    object-fit: cover;
    object-position: 38%;
  }
  body .sectiongridmain .subtitulo-novedades h2{
    font-size: 25px;
    &:hover {
      font-size: 25px;
      background-size: cover;
    }
  }
  body .sectiongridmain .descripcion-novedades {
    gap: 3px;
  }
  body .sectiongridmain .descripcion-novedades h3 {
    font-size: 17px;
    padding: 5%;
  }
  body .sectiongridmain .descripcion-novedades a {
    font-size: 13px;
    padding: 5%;
    width: 6rem;
  }
}
// 
// 
// 
@media (max-width: 367px) {
  body .sectiongridmain .bienvenida-titulo h1 {
    font-size: 24px; 
  }
  body .sectiongridmain .bienvenida-descripcion {
    width: 200px;
  }
  body .sectiongridmain .bienvenida-descripcion h2 {
    font-size: 13px;
  }
  body .sectiongridmain .subtitulo-novedades h2 {
    font-size: 35px;
    &:hover {
      font-size: 35px;
    }
  }
  body .sectiongridmain .descripcion-novedades h3 {
    font-size: 16px;
    padding: 3%;
  }
}
// 
// 
// 
@media (max-width: 367px) {

}
//  -----------------fin de index-------------//
// 
// 
// 
// -----------------destinos html------------//
@media (max-width: 963px) {
  main .gridestinos .tittle-destinos h2 {
    font-size: 40px;
    &:hover {
      font-size: 35px;
    }
  }
  main .gridestinos .top-section-text h2 {
    font-size: 28px;
    padding: 4%;
  }
}
// 
// 
// 
@media (max-width: 775px) {
  main .gridestinos {
    grid-template-rows: .5fr 1fr 1.5fr 2fr;
    grid-template-areas: "area1 area1" "area2 area2" "area3 area3" "area4 area5";
  }
  main .gridestinos .tittle-destinos h2 {
    font-size: 30px;
    &:hover {
      font-size: 25px;
    }
  }
  main .gridestinos .top-section-text h2 {
    font-size: 30px;
    top: 6%;
  }
  main .gridestinos .top-section-pics {
    bottom: 4%;
    img {
      &:hover {
        width: 85%;
      }
    }
  }
}
// 
// 
// 
@media (max-width: 691px) {
  main .gridestinos {
    grid-template-rows: .5fr 1fr 1.5fr 2fr;
    grid-template-areas: "area1 area1" "area2 area2" "area3 area3" "area4 area4" "area5 area5";
  }
  main .gridestinos .tittle-destinos h2 {
    font-size: 25px;
    &:hover {
      font-size: 15px;
    }
  }
  main .gridestinos .top-section-text h2 {
    font-size: 27px;
    top: 3%;
  }
  main .gridestinos .top-section-pics {
    bottom: 1%;
  }
}
// 
// 
// 
@media (max-width: 422px) {
  main .gridestinos .tittle-destinos h2 {
    font-size: 21px;
    &:hover {
      font-size: 15px;
    }
  }
  main .gridestinos .top-section-text h2 {
    font-size: 24px;
    top: 3%;
  }
}
// 
// 
// 
@media (max-width: 367px) {
  main .gridestinos .tittle-destinos h2 {
    font-size: 18px;
    &:hover {
      font-size: 13px;
    }
  }
  main .gridestinos .top-section-text h2 {
    font-size: 21px;
    top: 3%;
  }
}
// -------------fin destinos html------------//
// 
// 
// 
// -------------escuelas---------------------//
@media (max-width: 1025px) {
  .gridescuelas .card-texto-peru h3 {
    font-size: 33px;
    padding: 4%;
  }
  .gridescuelas .card-texto-brasil h2 {
    padding: 7%;
  }
  .gridescuelas .card-texto-brasil h3 {
    font-size: 36px;
    padding: 7%;
  }
}
// 
// 
// 
@media (max-width: 963px) {
  .gridescuelas .card-texto-arg h2 {
    padding: 7%;
    font-size: 29px;
  }
  .gridescuelas .card-texto-arg h3 {
    padding: 7%;
    font-size: 27px;
  }
  .gridescuelas .card-texto-brasil h2 {
    padding: 14%;
    font-size: 15px;
  }
  .gridescuelas .card-texto-brasil h3 {
    padding: 10%;
    font-size: 35px;
  }
  .gridescuelas .card-texto-peru h2 {
    font-size: 37px;
    padding: 8%;
  }
  .gridescuelas .card-texto-peru h3 {
    font-size: 32px;
    padding: 9%;
  }
}
// 
// 
// 
@media (max-width: 775px) {
  .gridescuelas .escuelas-titulo h2 {
    font-size: 40px;
    &:hover {
      font-size: 30px;
    }
  }
  .gridescuelas {
    grid-template-rows: .5fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas: "area1 area1" "area2 area2" "area3 area3" "area4 area4" "area5 area5" "area6 area6" "area7 area7";
  }
  .gridescuelas .card-texto-arg h2 {
    padding: 10%;
    font-size: 33px;
  }
  .gridescuelas .card-texto-arg h3 {
    padding: 10%;
    font-size: 30px;
  }
  .gridescuelas .card-texto-brasil h2 {
    padding: 14%;
    font-size: 27px;
  }
  .gridescuelas .card-texto-brasil h3 {
    padding: 10%;
    font-size: 36px;
  }
  .gridescuelas .card-texto-peru h2 {
    font-size: 50px;
    padding: 12%;
  }
  .gridescuelas .card-texto-peru h3 {
    font-size: 34px;
    padding: 9%;
  }
}
// 
// 
// 
@media (max-width: 691px) {
  .gridescuelas .escuelas-titulo h2 {
    font-size: 30px;
  }
  .gridescuelas .card-texto-brasil h2 {
    padding: 13%;
    font-size: 25px;
  }
  .gridescuelas .card-texto-brasil h3 {
    padding: 14%;
    font-size: 36px;
  }
  .gridescuelas .card-texto-peru h2 {
    font-size: 50px;
    padding: 12%;
  }
  .gridescuelas .card-texto-peru h3 {
    font-size: 34px;
    padding: 12%;
  }
}
// 
// 
// 
@media (max-width: 474px) {
  .gridescuelas .escuelas-titulo h2 {
    font-size: 25px;
    &:hover {
      font-size: 25px;
    }
  }
  .gridescuelas .card-texto-arg h2 {
    padding: 15%;
    font-size: 26px;
  }
  .gridescuelas .card-texto-brasil h2 {
    padding: 15%;
    font-size: 18px;
  }
  .gridescuelas .card-texto-brasil h3 {
    padding: 15%;
    font-size: 38px;
  }
  .gridescuelas .card-texto-peru h2 {
    font-size: 45px;
    padding: 15%;
  }
  .gridescuelas .card-texto-peru h3 {
    font-size: 34px;
    padding: 15%;
  }
  .gridescuelas .galeria-escuelas-arg img {
    &:hover {
      width: 90%;
    }
  }
  .gridescuelas .galeria-escuelas-brasil img {
    &:hover {
      width: 90%;
    }
  }
  .gridescuelas .galeria-escuelas-peru img {
    &:hover {
      width: 90%;
    }
  }
}
// -----------fin escuelas html--------------//
// 
// 
// 
// -----------------wsl-----------------------//
@media (max-width: 775px) {
  main .grid-wsl .card-section-texto h2 {
    font-size: 32px;
  }
  main .grid-wsl .card-bottom-section-texto-top h2 {
    font-size: 32px;
  }
  main .grid-wsl .card-bottom-section-texto-middle h2 {
    font-size: 32px;
  }
  main .grid-wsl .card-bottom-section-texto-bottom h2 {
    font-size: 32px;
  }
}
// 
// 
// 
@media (max-width: 540px) {
  main .grid-wsl .titulo-section-wsl h2 {
    font-size: 40px;
  }
  main .grid-wsl .subtitulo-section-wsl h2 {
    font-size: 40px;
  }
  main .grid-wsl .card-section-texto h2 {
    font-size: 21px;
  }
  main .grid-wsl .card-bottom-section-texto-top h2 {
    font-size: 21px;
  }
  main .grid-wsl .card-bottom-section-texto-middle h2 {
    font-size: 21px;
  }
  main .grid-wsl .card-bottom-section-texto-bottom h2 {
    font-size: 21px;
  }
}
// 
// 
// 
@media (max-width: 376px) {
  main .grid-wsl .card-section-texto h2 {
    font-size: 20px;
  }
  main .grid-wsl .card-bottom-section-texto-top h2 {
    font-size: 20px;
  }
  main .grid-wsl .card-bottom-section-texto-middle h2 {
    font-size: 20px;
  }
  main .grid-wsl .card-bottom-section-texto-bottom h2 {
    font-size: 20px;
  }
}
// ---------------fin de wsl------------------//
// 
// 
// 
// --------------footer----------------//
@media (max-width: 903px) {
  .cont-footer .botonera-footer .contac {
    font-size: 21px;
  &:hover {
    font-size: 21px;
    }
  }
  .cont-footer .botonera-footer .boton-footer img {
    object-fit: contain;
  }
}
// 
// 
// 
@media (max-width: 645px) {
  .cont-footer .botonera-footer {
    grid-template-areas: "area8 area1 area2 area3 area4 area6 area5 area5 area5 area10";
  }
}
// 
// 
// 
@media (max-width: 450px) {
  .cont-footer .botonera-footer {
    grid-template-areas: "area8 area1 area2 area3 area4 area6 area5 area5 area5 area5";
  }
  .cont-footer .botonera-footer .contac {
    grid-area: area5;
    font-size: 12px;
    height: 55%;
    width: 55%;
    top: 22%;
  &:hover {
    grid-area: area5;
    font-size: 12px;
    height: 55%;
    width: 55%;
    top: 22%;
    }
  }
}
// --------------fin de footer---------//
// 
// 
// 
  /* --------------fin media queries--------- */