/* <----------------------------footer------------------------------> */
.cont-footer {
    background-color: rgb(61, 95, 248);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    bottom: -90%;

    .botonera-footer {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: 120px;
      grid-template-areas: "area8 area1 area2 area3 area4 area6 area7 area5 area5 area10";
      height: 100%;
      width: 100%;

      .boton-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
  
        img {
          display: flex;
          position: relative;
          width: 100%;
          height: 100%;
          padding: 20%;
        }
      }

      .insta {
        grid-area: area1;
      }
      
      .facebo {
        grid-area: area2;
      }
      
      .twitt {
        grid-area: area3;
      }
      
      .gmail {
        grid-area: area4;
      }
      
      .contac {
        grid-area: area5;
        text-decoration: none;
        font-size: 30px;
        color: aliceblue;
        border: 1px solid white;
        border-radius: 15px;
        height: 70%;
        width: 70%;
        display: flex;
        position: relative;
        top: 15%;
        transition: 0.5s ease-in;

        &:hover {
          grid-area: area5;
          text-decoration: none;
          font-size: 33px;
          color: rgb(61, 95, 248);
          border: 1px solid white;
          background-color: aliceblue;
          border-radius: 15px;
          height: 72%;
          width: 72%;
          display: flex;
          position: relative;
          top: 15%;
          transition: 0.5s ease-out;
        }
      }      
    }
  }  
  
  
  
  /*<---------------------------fin de footer----------------------------->*/